<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="localhost" />
    <add key="database" value="garage-gevers" />
    <add key="userId" value="root" />
    <add key="password" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DbConnection" connectionString="datasource=localhost; port=3306; username=root; password=;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>